{% extends 'base.html' %} {% block content %}
    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary btn-sm float-right" href="{% url 'add_Registry' %}" role="button">Agregar
                Registro de Compra</a>
            <table class="table table-hover table-responsive">
                <thead class="table-dark">
                <tr>
                    <th>Producto</th>
                    <th>Lugar de Compra</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                {% for p in registros %}
                    <tr>
                        <td>{{ p.product }}</td>
                        <td>{{ p.place }}</td>
                        <td>${{ p.price }}</td>
                        <td>{{ p.date }}</td>
                        <td><a class="btn btn-info btn-sm" href="{% url 'edit_Registry' p.id %}">Editar</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_Registry' p.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}